<div class="profile-manga summary-layout-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="c-breadcrumb-wrapper">
                    <div class="c-breadcrumb">
                        <ol class="breadcrumb" typeof="BreadcrumbList" vocab="http://schema.org/">
                            <li property="itemListElement" typeof="ListItem">
                                <a href="/" property="item" typeof="WebPage">
                                    <span property="name">Anasayfa</span>
                                </a>
                                <meta content="1" property="position">
                            </li>
                            <li property="itemListElement" typeof="ListItem">
                                <a href="/manga">
                                    <span property="name">Manga</span>
                                </a>
                                <meta content="2" property="position">
                            </li>
                            <li property="itemListElement" typeof="ListItem">
                                <a href="/manga/<%= story.slug %>.<%= story._id %>">
                                    <span property="name">
                                        <%= story.title %>
                                    </span>
                                </a>
                                <meta content="3" property="position">
                            </li>


                        </ol>
                    </div>

                </div>

                <div class="post-title">
                    <% if (story.badge) {%>
                        <span class="manga-title-badges <%= story.badge.toLowerCase() %>">
                            <%= story.badge %>
                        </span>
                        <%} %>
                            <h1>
                                <%= story.title %>
                            </h1>
                </div>
                <div class="tab-summary ">
                    <div class="summary_image">
                        <a href="/manga/<%= story.slug %>.<%= story._id %>">
                            <img width="193" height="278" src="<%= webAssets(story.avatar) %>"
                                class="img-responsive effect-fade" alt="<%= story.title %>"
                                sizes="(max-width: 193px) 100vw, 193px" />
                        </a>
                    </div>
                    <div class="summary_content_wrap">
                        <div class="summary_content">
                            <div class="post-content">
                                <div class="loader-inner ball-pulse">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="post-rating">
                                    <div class="post-total-rating allow_vote"><i
                                            class="ion-ios-star ratings_stars rating_current"></i><i
                                            class="ion-ios-star ratings_stars rating_current"></i><i
                                            class="ion-ios-star ratings_stars rating_current"></i><i
                                            class="ion-ios-star ratings_stars rating_current"></i><i
                                            class="ion-ios-star-half ratings_stars rating_current_half"></i><span
                                            class="score font-meta total_votes">4.3</span></div>
                                    <div class="user-rating allow_vote"><i
                                            class="ion-ios-star-outline ratings_stars"></i><i
                                            class="ion-ios-star-outline ratings_stars"></i><i
                                            class="ion-ios-star-outline ratings_stars"></i><i
                                            class="ion-ios-star-outline ratings_stars"></i><i
                                            class="ion-ios-star-outline ratings_stars"></i><span
                                            class="score font-meta total_votes">Your Rating</span>
                                    </div>
                                    <input type="hidden" class="rating-post-id" value="454">
                                </div>

                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Değerlendirme</h5>
                                    </div>
                                    <div class="summary-content vote-details">
                                        4.3 / 5 Toplam Değerlendirme
                                    </div>
                                </div>
                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Görüntülenme</h5>
                                    </div>
                                    <div class="summary-content">
                                        <i class="icon ion-md-eye"></i>
                                        <%= story.views %>
                                            Görüntülenme
                                    </div>
                                </div>

                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Diğer Adı</h5>
                                    </div>
                                    <div class="summary-content">
                                        <%= story.otherTitle ? story.otherTitle : 'Güncelleniyor' %>
                                    </div>
                                </div>


                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Yazar </h5>
                                    </div>
                                    <div class="summary-content">
                                        <div class="author-content">
                                            <a href="javascript:void(0)" rel="tag">
                                                <%= story.author ? story.author : 'Güncelleniyor' %>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Çeviri Grubu</h5>
                                    </div>
                                    <div class="summary-content">
                                        <div class="tags-content">
                                            <a href="javascript:void(0)" rel="tag">
                                                <%= story.team ? story.team : 'Güncelleniyor' %>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <% if (story.categories.length) {%>
                                    <div class="post-content_item">
                                        <div class="summary-heading">
                                            <h5>Türler </h5>
                                        </div>
                                        <div class="summary-content">
                                            <div class="genres-content">
                                                <% for (let category of story.categories) {%>
                                                    <a href="/turler/<%= category.slug %>.<%= category._id %>"
                                                        rel="tag">
                                                        <%= category.name %>
                                                    </a>
                                                    <%} %>
                                            </div>
                                        </div>
                                    </div>
                                    <%} %>


                            </div>
                            <div class="post-status">

                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Yayınlanma</h5>
                                    </div>
                                    <div class="summary-content">
                                        <a href="https://live.mangabooth.com/manga-release/2015/" rel="tag">2021</a>
                                    </div>
                                </div>
                                <div class="post-content_item">
                                    <div class="summary-heading">
                                        <h5>Durum</h5>
                                    </div>
                                    <div class="summary-content">
                                        Devam Ediyor
                                    </div>
                                </div>
                                <div class="manga-action">
                                    <div class="count-comment">
                                        <div class="action_icon">
                                            <a href="#manga-discussion">
                                                <i class="icon ion-md-chatbubbles"></i>
                                            </a>
                                        </div>
                                        <div class="action_detail">
                                            <span class="disqus-comment-count">
                                                Yorumlar
                                            </span>
                                        </div>
                                    </div>
                                    <div class="add-bookmark" id="custom-bookmark-btn" style="cursor: pointer;">
                                        <div class="action_icon">
                                            <a href="javascript:void(0)" title="Yer İmleri">
                                                <i class="icon ion-ios-bookmark" id="custom-bookmark-icon"></i>
                                            </a>
                                        </div>
                                        <div class="action_detail"><span id="custom-bookmark-text">Takip Et</span>
                                        </div>
                                    </div>
                                    <% if (user && user._id===story.user) {%>
                                        <div class="count-comment mt-3">
                                            <div class="action_icon">
                                                <a href="#manga-discussion">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                            </div>
                                            <div class="action_detail">
                                                <span class="disqus-comment-count">
                                                    Düzenle
                                                </span>
                                            </div>
                                        </div>
                                        <%} %>
                                </div>
                            </div>


                            <% if (chapters.length) {%>
                                <div id="init-links" class="nav-links">
                                    <% const firstChapter=chapters[chapters.length - 1] %>
                                        <a href="/manga/<%= story.slug %>.<%= story._id %>/<%= firstChapter.slug %>.<%= firstChapter._id %>"
                                            class="c-btn c-btn_style-1">
                                            İlk Bölüm
                                        </a>
                                        <% if (chapters.length> 1) {%>
                                            <% const lastChapter=chapters[0] %>
                                                <a href="/manga/<%= story.slug %>.<%= story._id %>/<%= lastChapter.slug %>.<%= lastChapter._id %>"
                                                    class="c-btn c-btn_style-1">
                                                    Son Bölüm
                                                </a>
                                                <%} %>
                                </div>
                                <%} %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById('custom-bookmark-btn');
    const icon = document.getElementById('custom-bookmark-icon');
    const text = document.getElementById('custom-bookmark-text');
    
    if (!btn) return;

    const currentStory = {
        id: "<%= story._id %>",
        title: <%- JSON.stringify(story.title) %>,
        slug: "<%= story.slug %>",
        avatar: "<%= webAssets(story.avatar) %>",
        timestamp: Date.now()
    };

    function getBookmarks() {
        try {
            return JSON.parse(localStorage.getItem('manga_bookmarks') || '[]');
        } catch(e) { return []; }
    }

    function saveBookmarks(b) {
        localStorage.setItem('manga_bookmarks', JSON.stringify(b));
    }

    function updateUI(isBookmarked) {
        if (isBookmarked) {
            icon.style.color = '#ff5353'; // colored flag
            text.innerText = 'Takip Ediliyor';
        } else {
            icon.style.color = ''; // default
            text.innerText = 'Takip Et';
        }
    }

    // Initial check
    const isUserLoggedIn = <%= user ? 'true' : 'false' %>;
    const userBookmarks = <%- user && user.bookmarks ? JSON.stringify(user.bookmarks) : '[]' %>;
    
    let bookmarks = getBookmarks();
    let isBookmarked = false;
    
    if (isUserLoggedIn) {
        isBookmarked = userBookmarks.includes(currentStory.id);
    } else {
        isBookmarked = bookmarks.some(item => item.id === currentStory.id);
    }
    
    updateUI(isBookmarked);

    btn.addEventListener('click', async function(e) {
        e.preventDefault();
        
        if (isUserLoggedIn) {
            try {
                const res = await fetch('/settings/api/bookmark', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ storyId: currentStory.id })
                });
                const data = await res.json();
                if (data.success) {
                    updateUI(data.isBookmarked);
                } else {
                    alert("Bulut hatası: " + (data.error || "Bilinmeyen bir sunucu hatası."));
                }
            } catch (err) { 
                alert("Bağlantı hatası: Sunucuyla iletişim kurulamadı.");
                console.error('Cloud bookmark failed:', err) 
            }
        } else {
            bookmarks = getBookmarks();
            isBookmarked = bookmarks.some(item => item.id === currentStory.id);
            
            if (isBookmarked) {
                // Remove
                bookmarks = bookmarks.filter(item => item.id !== currentStory.id);
                isBookmarked = false;
            } else {
                // Add
                bookmarks.unshift(currentStory);
                isBookmarked = true;
            }
            
            saveBookmarks(bookmarks);
            updateUI(isBookmarked);
        }
    });
});
</script>